{% extends "base.html" %}
{% load static %}
{% block title%}<title>Главная</title>{% endblock%}

{% block content%}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Что-то тут должно быть</h1>
            <p class="col-lg-10 fs-4">Тут описание должно быть...</p>
        </div>

        {% if request.user.is_anonymous %}
        <div class="col-md-10 mx-auto col-lg-5">
            <form method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <div class="form-floating mb-3">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <input type="submit" class="w-100 btn btn-lg btn-primary" value="Войти">
                <br>
                <br>
                <a class="w-100 btn btn-lg btn-primary" href="{% url 'regis' %}">Регистрация</a>
                <hr class="my-4">
                <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
            </form>
        </div>
        {% endif %}

    </div>
</div>
</div>



{% endblock%}
